In [119]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

In [61]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (0.12.1)
Requirement already satisfied: pandas>=0.25 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from seaborn) (1.3.5)
Requirement already satisfied: numpy>=1.17 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from seaborn) (1.21.6)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from seaborn) (3.5.3)
Requirement already satisfied: typing_extensions in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from seaborn) (4.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.3.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: packaging>=20.0 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from pandas>=0.25->seaborn) (2022.6)
Requirement already satisfied: six>=1.5 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [62]:
df=pd.read_csv("athlete_events.csv")
region_df=pd.read_csv('noc_regions.csv')

In [63]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [64]:
df.shape

(271116, 15)

In [65]:
df=df[df['Season']=='Summer']

In [66]:
df.shape

(222552, 15)

In [67]:
df=df.merge(region_df,on="NOC",how="left")

In [68]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal', 'region', 'notes'],
      dtype='object')

In [69]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN

In [70]:
df['region'].unique().shape

(206,)

In [71]:
df.duplicated().sum()

1385

In [72]:
df.drop_duplicates(inplace=True)

In [73]:
df.duplicated().sum()

0

In [74]:
df=pd.concat([df,pd.get_dummies(df['Medal'])],axis=1)

In [75]:
df.groupby('NOC').sum()[['Gold','Bronze','Silver']].sort_values('Gold',ascending=False).reset_index()

     NOC    Gold  Bronze  Silver
0    USA  2472.0  1197.0  1333.0
1    URS   832.0   596.0   635.0
2    GBR   635.0   620.0   729.0
3    GER   592.0   649.0   538.0
4    ITA   518.0   454.0   474.0
..   ...     ...     ...     ...
225  AHO     0.0     0.0     1.0
226  LBR     0.0     0.0     0.0
227  LCA     0.0     0.0     0.0
228  LES     0.0     0.0     0.0
229  LBA     0.0     0.0     0.0

[230 rows x 4 columns]

In [76]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal', 'region', 'notes',
       'Bronze', 'Gold', 'Silver'],
      dtype='object')

In [77]:
medal_tally=df.drop_duplicates(subset=['Team','NOC','Games',
       'Year', 'City', 'Sport', 'Event', 'Medal'])

In [78]:
medal=medal_tally.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

In [79]:
medal[medal['NOC']=='IND']

    NOC  Gold  Silver  Bronze
53  IND   9.0     7.0    12.0

In [80]:
medal.shape

(230, 4)

In [81]:
df['NOC'].value_counts()

USA    14815
GBR    10776
FRA    10426
ITA     8170
GER     7526
       ...
YMD        5
SSD        3
NBO        2
UNK        2
NFL        1
Name: NOC, Length: 230, dtype: int64

In [82]:
years=df['Year'].unique().tolist()

In [83]:
years.sort()
years.insert(0,'Overall')

In [84]:
country=df['region'].dropna().unique().tolist()

In [85]:
country.sort()
country.insert(0,'Overall')

In [86]:
country

['Overall',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [87]:
def fetch_medal_tally(year,country):
    flag=0
    if year=='Overall' and country=='Overall':
        df=medal_tally
     
    if year=='Overall' and country!='Overall':
        flag=1
        df=medal_tally[medal_tally['region']==country]
    
    if year!='Overall' and country=='Overall':
        df=medal_tally[medal_tally['Year']==int(year)]
    
    if year!='Overall' and country!='Overall':
        df=medal_tally[(medal_tally['Year']==int(year)) & (medal_tally['region']==country)]
     
    if flag==1:
        df= df.groupby("Year").sum()[['Gold','Silver','Bronze']].sort_values('Year').reset_index()
    else:
        df= df.groupby("region").sum()[['Gold','Silver','Bronze']].sort_values('region').reset_index()
    df['Total']=df['Gold']+df['Silver']+df['Bronze']
    return df

fetch_medal_tally('Overall',"India")

    Year  Gold  Silver  Bronze  Total
0   1900     0       2       0      2
1   1920     0       0       0      0
2   1924     0       0       0      0
3   1928     1       0       0      1
4   1932     1       0       0      1
5   1936     1       0       0      1
6   1948     1       0       0      1
7   1952     1       0       1      2
8   1956     1       0       0      1
9   1960     0       1       0      1
10  1964     1       0       0      1
11  1968     0       0       1      1
12  1972     0       0       1      1
13  1976     0       0       0      0
14  1980     1       0       0      1
15  1984     0       0       0      0
16  1988     0       0       0      0
17  1992     0       0       0      0
18  1996     0       0       1      1
19  2000     0       0       1      1
20  2004     0       1       0      1
21  2008     1       0       2      3
22  2012     0       2       4      6
23  2016     0       1       1      2

In [88]:
medal_tally[medal_tally['region']=='India']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
436,281,S. Abdul Hamid,M,NaN,NaN,NaN,India,IND,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's 110 metres Hurdles,NaN,India,NaN,0,0,0
437,281,S. Abdul Hamid,M,NaN,NaN,NaN,India,IND,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's 400 metres Hurdles,NaN,India,NaN,0,0,0
790,512,Shiny Kurisingal Abraham-Wilson,F,19.0,167.0,53.0,India,IND,1984 Summer,1984,Summer,Los Angeles,Athletics,Athletics Women's 800 metres,NaN,India,NaN,0,0,0
791,512,Shiny Kurisingal Abraham-Wilson,F,19.0,167.0,53.0,India,IND,1984 Summer,1984,Summer,Los Angeles,Athletics,Athletics Women's 4 x 400 metres Relay,NaN,India,NaN,0,0,0
792,512,Shiny Kurisingal Abraham-Wilson,F,23.0,167.0,53.0,India,IND,1988 Summer,1988,Summer,Seoul,Athletics,Athletics Women's 800 metres,NaN,India,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216942,132143,Vikas Krishan Yadav,M,24.0,177.0,69.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Men's Middleweight,NaN,India,NaN,0,0,0
216985,132177,Mohammad Anas Yahiya,M,21.0,177.0,69.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 400 metres,NaN,India,NaN,0,0,0
218411,133029,"Thyadathuvilla Chandrapillai ""T. C."" Yohannan",M,29.0,174.0,62.0,India,IND,1976 Summer,1976,Summer,Montreal,Athletics,Athletics Men's Long Jump,NaN,India,NaN,0,0,0
222416,135480,Geeta Zutshi,F,23.0,167.0,51.0,India,IND,1980 Summer,1980,Summer,Moskva,Athletics,Athletics Women's 800 metres,NaN,India,NaN,0,0,0
222417,135480,Geeta Zutshi,F,27.0,167.0,51.0,India,IND,1984 Summer,1984,Summer,Los Angeles,Athletics,"Athletics Women's 3,000 metres",NaN,India,NaN,0,0,0

In [89]:
Edition=df['Year'].unique().shape[0]-1

In [90]:
Cities=df['City'].unique().shape[0]

In [91]:
Sport=df['Sport'].unique().shape[0]

In [92]:
Athletes=df['Name'].unique().shape[0]

In [93]:
Events=df['Event'].unique().shape[0]

In [94]:
Region=df['region'].unique().shape[0]

In [95]:
df.drop_duplicates(['Year','region'])['Year'].value_counts().reset_index()

    index  Year
0    2016   204
1    2012   203
2    2008   202
3    2004   200
4    2000   199
5    1996   196
6    1992   168
7    1988   156
8    1984   139
9    1972   120
10   1968   111
11   1964    93
12   1976    91
13   1960    83
14   1980    80
15   1956    71
16   1952    67
17   1948    59
18   1936    49
19   1932    47
20   1928    46
21   1924    45
22   1900    31
23   1920    29
24   1912    29
25   1908    22
26   1906    20
27   1904    14
28   1896    12

In [96]:
import streamlit as st
x=df.drop_duplicates(['Year','Sport','Event'])

#plt.figure(figsize=(20,20))
pivottable=x.pivot_table(index='Sport',columns='Year',values='Event',aggfunc='count').fillna(0).astype(int)
#st.plotly_chart(ax)


fig, ax = plt.subplots(figsize=(20,20))
sns.heatmap(pivottable, ax=ax)
st.pyplot(fig)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [97]:
def most_successful(df,sport):
    temp_df=df.dropna(subset=['Medal'])
    
    if sport!='Overall':
        temp_df=temp_df[temp_df['Sport']==sport]
        
    x=temp_df['Name'].value_counts().reset_index().merge(df,left_on="index",right_on="Name",how='left')[["index","Name_x","Sport","region"]].drop_duplicates(subset=['index'])
    x.rename(columns={'index':'Name',"Name_x":"Medals"},inplace=True)
    return x.head(20)

most_successful(df,'Swimming')

,Name,Medals,Sport,region
0,"Michael Fred Phelps, II",28,Swimming,USA
30,"Jennifer Elisabeth ""Jenny"" Thompson (-Cumpelik)",12,Swimming,USA
47,"Dara Grace Torres (-Hoffman, -Minas)",12,Swimming,USA
60,Ryan Steven Lochte,12,Swimming,USA
74,Natalie Anne Coughlin (-Hall),12,Swimming,USA
86,"Matthew Nicholas ""Matt"" Biondi",11,Swimming,USA
98,Mark Andrew Spitz,11,Swimming,USA
110,"Gary Wayne Hall, Jr.",10,Swimming,USA
120,Franziska van Almsick,10,Swimming,Germany
143,Shirley Frances Babashoff,9,Swimming,USA
154,Ian James Thorpe,9,Swimming,Australia
164,Leisel Marie Jones,9,Swimming,Australia
174,Aleksandr Vladimirovich Popov,9,Swimming,Russia
189,Zoltn Imre dn von Halmay,9,Swimming,Hungary
198,"Donald Arthur ""Don"" Schollander",8,Swimming,USA
206,Allison Rodgers Schmitt,8,Swimming,USA
215,Jason Edward Lezak,8,Swimming,USA
225,Inge de Bruijn,8,Swimming,Netherlands
238,Roland Matthes,8,Swimming,Germany
248,"Charles Meldrum ""Charlie"" Daniels",8,Swimming,USA

In [98]:
t=df[df['Name']=='Takashi Ono']
t['Total']=t['Gold']+t['Silver']+t['Bronze']

In [99]:
t=df.dropna(subset=['Medal'])

In [100]:
t['Name'].value_counts()

Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Borys Anfiyanovych Shakhlin           13
Takashi Ono                           13
                                      ..
Joel Isasi Gonzlez                     1
Florena Andreea Isrescu                1
Ryoji Isaoka                           1
Preben Isaksson                        1
rpd Lengyel                            1
Name: Name, Length: 24545, dtype: int64

In [101]:
temp_df=df.dropna(subset=['Medal'])
temp_df.drop_duplicates(subset=['Team','NOC','Games',
       'Year', 'City', 'Sport', 'Event', 'Medal'],inplace=True)
new_df=temp_df[temp_df['region']=='India']
final_df=new_df.groupby('Year').count()[['Medal']].reset_index()

In [102]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns

fig=px.line(final_df,'Year','Medal')
fig.show()

In [103]:
temp_df=df.dropna(subset=['Medal'])
temp_df.drop_duplicates(subset=['Team','NOC','Games','Year', 'City', 'Sport', 'Event', 'Medal'],inplace=True)
temp=temp_df[temp_df['region']=='India']

In [104]:
sns.heatmap(temp.pivot_table(index='Sport',columns='Year',values='Medal',aggfunc='count').fillna(0))

In [105]:
temp.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal', 'region', 'notes',
       'Bronze', 'Gold', 'Silver'],
      dtype='object')

In [120]:
import plotly.figure_factory as ff

In [124]:
athlete_df=df.drop_duplicates(subset=['Name','region'])
athlete_age=athlete_df['Age'].dropna().tolist()
athlete_age

[24.0,
 23.0,
 24.0,
 34.0,
 18.0,
 26.0,
 31.0,
 30.0,
 22.0,
 28.0,
 31.0,
 54.0,
 27.0,
 22.0,
 22.0,
 24.0,
 26.0,
 43.0,
 22.0,
 26.0,
 24.0,
 23.0,
 24.0,
 30.0,
 21.0,
 23.0,
 20.0,
 33.0,
 28.0,
 25.0,
 34.0,
 41.0,
 33.0,
 22.0,
 24.0,
 24.0,
 22.0,
 23.0,
 22.0,
 24.0,
 26.0,
 21.0,
 24.0,
 24.0,
 24.0,
 26.0,
 21.0,
 30.0,
 31.0,
 21.0,
 22.0,
 23.0,
 19.0,
 26.0,
 27.0,
 24.0,
 23.0,
 30.0,
 22.0,
 22.0,
 27.0,
 26.0,
 23.0,
 22.0,
 22.0,
 26.0,
 22.0,
 26.0,
 24.0,
 22.0,
 29.0,
 25.0,
 21.0,
 21.0,
 27.0,
 21.0,
 34.0,
 38.0,
 35.0,
 18.0,
 16.0,
 30.0,
 30.0,
 22.0,
 25.0,
 25.0,
 26.0,
 19.0,
 22.0,
 22.0,
 20.0,
 23.0,
 20.0,
 22.0,
 21.0,
 22.0,
 20.0,
 24.0,
 28.0,
 32.0,
 22.0,
 22.0,
 19.0,
 26.0,
 28.0,
 25.0,
 31.0,
 28.0,
 20.0,
 28.0,
 22.0,
 18.0,
 33.0,
 28.0,
 23.0,
 23.0,
 29.0,
 24.0,
 42.0,
 30.0,
 26.0,
 21.0,
 23.0,
 19.0,
 41.0,
 21.0,
 30.0,
 23.0,
 42.0,
 34.0,
 23.0,
 40.0,
 22.0,
 23.0,
 22.0,
 21.0,
 15.0,
 25.0,
 28.0,
 25.0,
 22.0,
 20.0,
 21.0,
 23.0,
 19.0,
 18.0,
 25.0,
 32.0,
 19.0,
 31.0,
 23.0,
 23.0,
 18.0,
 18.0,
 29.0,
 30.0,
 31.0,
 32.0,
 24.0,
 20.0,
 25.0,
 21.0,
 33.0,
 24.0,
 32.0,
 24.0,
 28.0,
 29.0,
 23.0,
 24.0,
 25.0,
 19.0,
 23.0,
 21.0,
 24.0,
 18.0,
 22.0,
 21.0,
 20.0,
 27.0,
 16.0,
 21.0,
 30.0,
 28.0,
 21.0,
 21.0,
 26.0,
 22.0,
 27.0,
 28.0,
 24.0,
 22.0,
 19.0,
 23.0,
 27.0,
 24.0,
 26.0,
 41.0,
 24.0,
 17.0,
 21.0,
 25.0,
 21.0,
 20.0,
 36.0,
 23.0,
 19.0,
 23.0,
 20.0,
 23.0,
 22.0,
 21.0,
 26.0,
 24.0,
 19.0,
 22.0,
 22.0,
 27.0,
 30.0,
 19.0,
 21.0,
 21.0,
 23.0,
 19.0,
 17.0,
 21.0,
 24.0,
 26.0,
 23.0,
 29.0,
 31.0,
 22.0,
 19.0,
 25.0,
 27.0,
 23.0,
 27.0,
 30.0,
 17.0,
 24.0,
 22.0,
 24.0,
 19.0,
 25.0,
 23.0,
 19.0,
 30.0,
 22.0,
 27.0,
 23.0,
 20.0,
 17.0,
 17.0,
 14.0,
 26.0,
 34.0,
 30.0,
 29.0,
 24.0,
 38.0,
 23.0,
 22.0,
 21.0,
 24.0,
 39.0,
 23.0,
 21.0,
 30.0,
 32.0,
 21.0,
 22.0,
 21.0,
 22.0,
 26.0,
 26.0,
 24.0,
 20.0,
 28.0,
 18.0,
 27.0,
 20.0,
 31.0,
 32.0,
 25.0,
 21.0,
 23.0,
 21.0,
 21.0,
 28.0,
 28.0,
 27.0,
 22.0,
 22.0,
 25.0,
 21.0,
 27.0,
 16.0,
 16.0,
 23.0,
 20.0,
 15.0,
 18.0,
 19.0,
 33.0,
 21.0,
 23.0,
 22.0,
 19.0,
 26.0,
 29.0,
 26.0,
 26.0,
 26.0,
 34.0,
 24.0,
 32.0,
 18.0,
 24.0,
 25.0,
 23.0,
 25.0,
 23.0,
 22.0,
 24.0,
 21.0,
 26.0,
 21.0,
 28.0,
 18.0,
 31.0,
 22.0,
 21.0,
 22.0,
 23.0,
 35.0,
 27.0,
 30.0,
 22.0,
 22.0,
 19.0,
 19.0,
 45.0,
 20.0,
 19.0,
 16.0,
 25.0,
 25.0,
 24.0,
 20.0,
 28.0,
 22.0,
 22.0,
 18.0,
 15.0,
 22.0,
 26.0,
 37.0,
 19.0,
 23.0,
 22.0,
 24.0,
 27.0,
 26.0,
 19.0,
 17.0,
 22.0,
 30.0,
 27.0,
 23.0,
 22.0,
 17.0,
 25.0,
 24.0,
 21.0,
 30.0,
 20.0,
 24.0,
 26.0,
 23.0,
 21.0,
 19.0,
 22.0,
 18.0,
 30.0,
 27.0,
 19.0,
 24.0,
 27.0,
 25.0,
 27.0,
 24.0,
 35.0,
 28.0,
 26.0,
 29.0,
 21.0,
 24.0,
 19.0,
 19.0,
 24.0,
 23.0,
 20.0,
 17.0,
 22.0,
 26.0,
 25.0,
 30.0,
 27.0,
 27.0,
 28.0,
 24.0,
 25.0,
 24.0,
 27.0,
 29.0,
 26.0,
 20.0,
 30.0,
 27.0,
 30.0,
 24.0,
 22.0,
 22.0,
 38.0,
 24.0,
 28.0,
 21.0,
 20.0,
 21.0,
 22.0,
 23.0,
 22.0,
 31.0,
 28.0,
 21.0,
 21.0,
 22.0,
 26.0,
 23.0,
 33.0,
 22.0,
 24.0,
 25.0,
 19.0,
 21.0,
 17.0,
 19.0,
 33.0,
 19.0,
 21.0,
 25.0,
 22.0,
 29.0,
 22.0,
 23.0,
 20.0,
 21.0,
 21.0,
 26.0,
 24.0,
 22.0,
 28.0,
 21.0,
 28.0,
 22.0,
 16.0,
 31.0,
 24.0,
 24.0,
 30.0,
 25.0,
 23.0,
 21.0,
 24.0,
 19.0,
 32.0,
 22.0,
 31.0,
 20.0,
 21.0,
 26.0,
 19.0,
 22.0,
 22.0,
 20.0,
 26.0,
 20.0,
 22.0,
 40.0,
 18.0,
 23.0,
 24.0,
 15.0,
 24.0,
 34.0,
 22.0,
 23.0,
 23.0,
 21.0,
 26.0,
 20.0,
 26.0,
 22.0,
 23.0,
 21.0,
 24.0,
 26.0,
 25.0,
 27.0,
 27.0,
 19.0,
 28.0,
 22.0,
 33.0,
 28.0,
 16.0,
 23.0,
 18.0,
 19.0,
 22.0,
 24.0,
 17.0,
 20.0,
 21.0,
 23.0,
 20.0,
 18.0,
 22.0,
 23.0,
 28.0,
 22.0,
 23.0,
 25.0,
 27.0,
 28.0,
 21.0,
 20.0,
 25.0,
 14.0,
 19.0,
 27.0,
 21.0,
 21.0,
 16.0,
 22.0,
 24.0,
 26.0,
 26.0,
 33.0,
 27.0,
 31.0,
 31.0,
 21.0,
 21.0,
 17.0,
 23.0,
 39.0,
 23.0,
 22.0,
 19.0,
 21.0,
 22.0,
 22.0,
 22.0,
 18.0,
 22.0,
 21.0,
 23.0,
 19.0,
 22.0,
 21.0,
 25.0,
 23.0,
 22.0,
 25.0,
 28.0,
 20.0,
 22.0,
 29.0,
 28.0,
 25.0,
 23.0,
 18.0,
 24.0,
 25.0,
 29.0,
 23.0,
 25.0,
 55.0,
 41.0,
 24.0,
 19.0,
 19.0,
 28.0,
 17.0,
 20.0,
 23.0,
 23.0,
 28.0,
 27.0,
 20.0,
 28.0,
 25.0,
 18.0,
 24.0,
 22.0,
 27.0,
 22.0,
 26.0,
 24.0,
 26.0,
 27.0,
 24.0,
 19.0,
 18.0,
 22.0,
 28.0,
 26.0,
 26.0,
 29.0,
 29.0,
 20.0,
 22.0,
 20.0,
 27.0,
 20.0,
 24.0,
 22.0,
 23.0,
 20.0,
 16.0,
 25.0,
 23.0,
 26.0,
 20.0,
 29.0,
 22.0,
 21.0,
 16.0,
 30.0,
 21.0,
 18.0,
 24.0,
 29.0,
 25.0,
 25.0,
 23.0,
 23.0,
 23.0,
 22.0,
 29.0,
 25.0,
 21.0,
 26.0,
 23.0,
 21.0,
 23.0,
 25.0,
 20.0,
 20.0,
 22.0,
 21.0,
 23.0,
 27.0,
 15.0,
 25.0,
 27.0,
 23.0,
 24.0,
 20.0,
 19.0,
 30.0,
 26.0,
 49.0,
 24.0,
 20.0,
 30.0,
 18.0,
 30.0,
 32.0,
 31.0,
 30.0,
 22.0,
 21.0,
 26.0,
 29.0,
 20.0,
 18.0,
 47.0,
 18.0,
 26.0,
 32.0,
 23.0,
 23.0,
 14.0,
 25.0,
 29.0,
 16.0,
 23.0,
 19.0,
 38.0,
 22.0,
 27.0,
 27.0,
 20.0,
 30.0,
 36.0,
 22.0,
 38.0,
 31.0,
 24.0,
 37.0,
 22.0,
 20.0,
 29.0,
 27.0,
 16.0,
 23.0,
 26.0,
 38.0,
 20.0,
 21.0,
 21.0,
 29.0,
 25.0,
 24.0,
 39.0,
 23.0,
 26.0,
 20.0,
 17.0,
 23.0,
 48.0,
 19.0,
 21.0,
 19.0,
 22.0,
 20.0,
 25.0,
 26.0,
 23.0,
 29.0,
 22.0,
 26.0,
 27.0,
 25.0,
 27.0,
 23.0,
 27.0,
 23.0,
 25.0,
 23.0,
 20.0,
 24.0,
 24.0,
 20.0,
 23.0,
 20.0,
 25.0,
 26.0,
 21.0,
 28.0,
 20.0,
 19.0,
 37.0,
 22.0,
 28.0,
 23.0,
 21.0,
 24.0,
 17.0,
 27.0,
 23.0,
 23.0,
 20.0,
 23.0,
 20.0,
 23.0,
 20.0,
 29.0,
 25.0,
 22.0,
 27.0,
 24.0,
 30.0,
 23.0,
 26.0,
 22.0,
 17.0,
 33.0,
 38.0,
 19.0,
 22.0,
 28.0,
 19.0,
 38.0,
 29.0,
 18.0,
 28.0,
 24.0,
 24.0,
 21.0,
 23.0,
 23.0,
 21.0,
 19.0,
 23.0,
 25.0,
 24.0,
 27.0,
 31.0,
 22.0,
 33.0,
 30.0,
 24.0,
 19.0,
 22.0,
 21.0,
 24.0,
 31.0,
 25.0,
 20.0,
 25.0,
 23.0,
 16.0,
 17.0,
 21.0,
 20.0,
 21.0,
 24.0,
 19.0,
 22.0,
 28.0,
 23.0,
 23.0,
 21.0,
 18.0,
 28.0,
 23.0,
 22.0,
 20.0,
 26.0,
 32.0,
 20.0,
 26.0,
 23.0,
 16.0,
 36.0,
 18.0,
 20.0,
 21.0,
 37.0,
 45.0,
 39.0,
 17.0,
 15.0,
 15.0,
 41.0,
 19.0,
 22.0,
 23.0,
 21.0,
 25.0,
 30.0,
 25.0,
 20.0,
 24.0,
 21.0,
 22.0,
 26.0,
 19.0,
 20.0,
 16.0,
 22.0,
 31.0,
 22.0,
 34.0,
 21.0,
 23.0,
 23.0,
 23.0,
 22.0,
 28.0,
 49.0,
 19.0,
 22.0,
 33.0,
 21.0,
 35.0,
 29.0,
 21.0,
 23.0,
 30.0,
 25.0,
 19.0,
 20.0,
 24.0,
 24.0,
 20.0,
 27.0,
 25.0,
 26.0,
 23.0,
 28.0,
 24.0,
 27.0,
 22.0,
 24.0,
 29.0,
 24.0,
 22.0,
 24.0,
 20.0,
 19.0,
 20.0,
 33.0,
 28.0,
 22.0,
 21.0,
 31.0,
 27.0,
 23.0,
 44.0,
 20.0,
 25.0,
 19.0,
 30.0,
 23.0,
 16.0,
 30.0,
 26.0,
 19.0,
 20.0,
 28.0,
 21.0,
 26.0,
 18.0,
 28.0,
 19.0,
 27.0,
 17.0,
 20.0,
 24.0,
 22.0,
 21.0,
 25.0,
 25.0,
 22.0,
 28.0,
 20.0,
 19.0,
 20.0,
 37.0,
 21.0,
 25.0,
 25.0,
 19.0,
 27.0,
 28.0,
 16.0,
 21.0,
 16.0,
 21.0,
 24.0,
 24.0,
 30.0,
 25.0,
 28.0,
 31.0,
 26.0,
 19.0,
 23.0,
 22.0,
 24.0,
 27.0,
 27.0,
 29.0,
 23.0,
 24.0,
 19.0,
 18.0,
 22.0,
 39.0,
 22.0,
 23.0,
 23.0,
 22.0,
 23.0,
 25.0,
 47.0,
 21.0,
 21.0,
 20.0,
 21.0,
 18.0,
 19.0,
 23.0,
 29.0,
 26.0,
 22.0,
 ...]

In [117]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\uchag\anaconda3\envs\olympics\lib\site-packages (from scipy) (1.21.6)

In [139]:
x = []
name = []
famous_sports = ['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics',
                     'Swimming', 'Badminton', 'Sailing', 'Gymnastics',
                     'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling',
                     'Water Polo', 'Hockey', 'Rowing', 'Fencing',
                     'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing',
                     'Tennis', 'Golf', 'Softball', 'Archery',
                     'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball',
                     'Rhythmic Gymnastics', 'Rugby Sevens',
                     'Beach Volleyball', 'Triathlon', 'Rugby', 'Polo', 'Ice Hockey']

temp_df = athlete_df[athlete_df['Sport'] == 'Basketball']
x.append(temp_df[temp_df['Medal'] == 'Gold']["Age"].dropna())
name.append(sport)

540       23.0
4083      19.0
4459      25.0
8068      20.0
8131      21.0
          ...
219443    25.0
219728    31.0
219737    25.0
221125    27.0
221482    24.0
Name: Age, Length: 270, dtype: float64

In [148]:
men=athlete_df[athlete_df['Sex']=='M'].groupby('Year').count().[[]'Name']

SyntaxError: invalid syntax (575699632.py, line 1)

In [149]:
men

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
Year,,,,,,,,,,,,,,,,,,,
1896,174,174,174,72,13,13,174,174,174,174,174,174,174,62,174,0,174,174,174
1900,1181,1181,1181,611,48,35,1181,1181,1181,1181,1181,1181,1181,351,1181,6,1181,1181,1181
1904,629,629,629,481,76,66,629,629,629,629,629,629,629,254,629,1,629,629,629
1906,759,759,759,330,65,56,759,759,759,759,759,759,759,238,759,21,759,759,759
1908,1772,1772,1772,1319,194,240,1772,1772,1772,1772,1772,1772,1772,506,1772,41,1772,1772,1772
1912,1978,1978,1978,1893,289,271,1978,1978,1978,1978,1978,1978,1978,419,1976,56,1978,1978,1978
1920,2280,2280,2280,1755,367,270,2280,2280,2280,2280,2280,2280,2280,727,2280,15,2280,2280,2280
1924,2535,2535,2535,1937,433,379,2535,2535,2535,2535,2535,2535,2535,402,2535,38,2535,2535,2535
1928,2342,2342,2342,1832,410,336,2342,2342,2342,2342,2342,2342,2342,361,2342,29,2342,2342,2342
1932,1382,1382,1382,1174,476,204,1382,1382,1382,1382,1382,1382,1382,323,1382,0,1382,1382,1382
1936,3539,3539,3539,3404,494,504,3539,3539,3539,3539,3539,3539,3539,548,3539,72,3539,3539,3539
1948,3629,3629,3629,2820,600,652,3629,3629,3629,3629,3629,3629,3629,523,3628,79,3629,3629,3629
1952,3468,3468,3468,3306,837,854,3468,3468,3468,3468,3468,3468,3468,418,3464,74,3468,3468,3468
1956,2193,2193,2193,1781,915,922,2193,2193,2193,2193,2193,2193,2193,399,2146,31,2193,2193,2193
1960,3755,3755,3755,3645,3609,3579,3755,3755,3755,3755,3755,3755,3755,403,3752,189,3755,3755,3755
1964,3290,3290,3290,3256,3118,3115,3290,3290,3290,3290,3290,3290,3290,444,3290,95,3290,3290,3290
1968,3555,3555,3555,3474,3482,3482,3555,3555,3555,3555,3555,3555,3555,398,3551,68,3555,3555,3555
1972,4552,4552,4552,4476,4403,4355,4552,4552,4552,4552,4552,4552,4552,480,4547,124,4552,4552,4552
1976,3320,3320,3320,3295,3140,3142,3320,3320,3320,3320,3320,3320,3320,438,3317,115,3320,3320,3320
1980,3151,3151,3151,3003,2963,2984,3151,3151,3151,3151,3151,3151,3151,487,3151,103,3151,3151,3151
1984,4299,4299,4299,4144,3972,3979,4299,4299,4299,4299,4299,4299,4299,602,4294,150,4299,4299,4299
1988,4704,4704,4704,4630,4473,4497,4704,4704,4704,4704,4704,4704,4704,565,4700,154,4704,4704,4704
1992,4769,4769,4769,4745,3492,3569,4769,4769,4769,4769,4769,4769,4769,606,4761,83,4769,4769,4769
1996,4811,4811,4811,4811,4040,4118,4811,4811,4811,4811,4811,4811,4811,526,4804,82,4811,4811,4811
2000,4294,4294,4294,4294,4233,4227,4294,4294,4294,4294,4294,4294,4294,502,4287,99,4294,4294,4294
2004,3931,3931,3931,3931,3907,3905,3931,3931,3931,3931,3931,3931,3931,455,3929,67,3931,3931,3931
2008,3990,3990,3990,3990,3896,3918,3990,3990,3990,3990,3990,3990,3990,472,3980,30,3990,3990,3990
2012,3679,3679,3679,3679,3577,3504,3679,3679,3679,3679,3679,3679,3679,458,3671,38,3679,3679,3679
2016,4022,4022,4022,4022,3920,3905,4022,4022,4022,4022,4022,4022,4022,475,4011,42,4022,4022,4022